<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jk.mapper.UserMapper">

    <select id="getUserCount" resultType="int">
        select count(1) from t_user
    </select>

    <select id="getUserList" resultType="com.jk.model.UserBean">
        SELECT * from t_user
        limit #{startIndex},#{rows}
    </select>

    <insert id="addUser" parameterType="com.jk.model.UserBean">
		insert into t_user (id, name, phoneName,
		status,sex,email,detail)
		values (#{id}, #{name}, #{phoneName},
		#{status},
		#{sex},#{email},#{detail})
	</insert>

    <select id="queryUserById" resultType="com.jk.model.UserBean">
		select * from t_user where id = #{id}
	</select>

    <update id="updateUser">
		update t_user set
		name = #{name},
		phoneName=#{phoneName},
		status=#{status},
		sex=#{sex},
		email=#{email},
		detail=#{detail}
		where id=#{id}
	</update>

    <delete id="delUser">
		delete from t_user where id = #{id}
	</delete>

</mapper>